*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(163, 170, 172);
    font-family:Arial, Helvetica, sans-serif;
}

#BG{
  background-image: url(/images/beach.jpg);
  background-size: 100% 150%;
  background-repeat: no-repeat;
}

/* NAV */
nav {
  background-color: rgb(42, 25, 86);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.AHLogo{
  position: relative;
  width: 100px;
  height: 100px;
}

nav li #active{
  background-color:orange;
  color:red;
}

nav li:first-child {
  margin-right: auto;
}
nav li:first-child a {
  color: #fff;
  font-weight: 800;
}

  
/* GD Columns */
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}

.column1 {
  margin-top: 25px;
  margin-left: 50px;
}

.column2 {
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 25px;
}

/*Drawing Columns*/
.drawingparent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}

.drawingcolumn1 {
  margin-top: 25px;
  margin-left: 50px;
}

.drawingcolumn2 {
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 25px;
}

/*Photography Columns*/

.photographycontainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}

.photographycolumn1 {
  margin-top: 25px;
  margin-left: 50px;
}

.photographycolumn2 {
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 25px;
}

/*Home Page CSS*/
.Introduction{
  margin-bottom: 10px;
  margin-top: 275px;
  text-align: center;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif
}

/*About Me CSS*/

.IntroParagraph{
  color: rgb(93, 90, 90);
  justify-content: center;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.me{
  margin-left: 200px;
  border: solid;
  border-color:rgb(20, 56, 66);
  border-width: 10px;
  border-radius: 10px;
  padding: 10px;
  border-radius: 100px;
}

.aboutlist{
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 100px;
  color: rgb(93, 90, 90);
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.VidLink{
  text-decoration: none;
}

h3{
  color: rgb(79, 82, 67);
  justify-content: center;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  margin-top: 50px;
}

/*Graphic Design CSS*/

.album{
  object-fit: cover;
  object-position: 80% 100%;
  margin-left: 50px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.Book3{
  object-fit: cover;
  object-position: 50% 100%;
  float: right;
  border-radius: 20px;
}

.slice1{
  object-fit: cover;
  object-position: 80% 100%;
  border-radius: 20px;
  margin-left: 25px;
}

.slice2{
  object-fit: cover;
  object-position: 80% 100%;
  border-radius: 20px;
  float: right;
  margin-right: 20px;
}

.designtrio{
  margin-left: 65px;
  padding: 10px;
  margin-bottom: 50px;  
}

.logoblack, .slicetrio2, .book2{
  padding: 10px;
  border-radius: 20px;
}


.DesignText1{
  color: rgb(93, 90, 90);
  padding: 10px;
  margin-left: 50px;
  margin-right: 100px;
}

.DesignText2{
  color: rgb(93, 90, 90);
  padding: 10px;
  margin-left: 50px;
  margin-right: 100px;
}

h2{
  text-align: center;
  padding-bottom: 25px;
  color: rgb(79, 82, 67);
  font-size:x-large;
}

#otherdesigns{
  margin-top: 50px;
}

/*Drawing CSS*/

.drawingtext2{
  margin-left: 150px;
  margin-bottom: 100px;
  margin-right: 150px;
  text-align: center;
  color: rgb(93, 90, 90);
}

.drawing1{
object-fit: cover;
object-position: 25% 50%;
border-radius: 20px;
margin-right: 10px;
}

.drawing2{
  object-fit: cover;
  object-position: 80% 100%;
  border-radius: 20px;
}
.drawing3{
  object-fit: cover;
  object-position: 25% 50%;
  border-radius: 20px;
  margin-right: 10px;
}

.drawing4{
  object-fit: cover;
  object-position: 80% 100%;
  border-radius: 20px;
}

#otherdrawings{
    margin-top: 50px;
}

.drawingtrio{
  margin-left: 65px;
  padding: 10px;
  margin-bottom: 50px;
}

.stilllife2, .sketch, .tree{
  padding: 10px;
  border-radius: 20px;
}

/*Photography CSS*/

.photographytext1{
  color: rgb(93, 90, 90);
  padding: 10px;
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 75px;
}

.photographytrio{
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 30px;
}

.photographytrio img{
  padding: 10px;
  border-radius: 20px;
}

.photographygallery{
  display: flex;
  justify-content: center;
  
}
.photographygalphotos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  max-width: 95%; 
  max-height: 800px;
  margin-bottom: 50px;
}

.photographygalphotos img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.milebeach{
  object-fit: cover;
  object-position: 25% 15%;
  border-radius: 20px;
  margin-left: 25px;
}

.goldenbridge{
  object-fit: cover;
  object-position: 10% 100%;
  border-radius: 20px;
  float: left;
  margin-right: 20px;
}

/* CSS ON ALL PAGES */
h1{
  text-align: center;
  margin: 50px;
  color: rgb(79, 82, 67);
  font-size: xx-large;
}

footer{
  background-color: rgb(42, 25, 86);
  padding: 20px;
  text-align: center;
  color: white;
}


/* Miscellaneous */

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}